:root {
  --border: 1px solid black;
}

._wrapper_1uep5_5 {
  color: #333f48;
  margin-top: 8rem;
  padding-bottom: 8rem;
  font-weight: bold;
}

._text_1uep5_12 {
  font-size: 0.875rem;
  font-weight: normal;
}

._heading_1uep5_17 {
  margin-bottom: 1.75rem;
}

._canvas_1uep5_22 {
  width: 100%;
  height: 80vh;
  border: var(--border);
  border-top: 0;
  cursor: pointer;
}

._buttons_1uep5_30 {
  display: flex;
  background: #f7f8f9;
  border: var(--border);
  border-bottom: 0;
}

._button_1uep5_30 {
  color: black;
  font-size: 0.875rem;
  background: transparent;
  padding: 0.5rem 1rem;
  margin-top: 0px;
  border: 0;
  outline: none;
  cursor: pointer;
}

._button_1uep5_30:last-child {
    margin-left: auto;
  }

._activeButton_1uep5_52 {
  color: white;
  background-repeat: no-repeat;
}

._rainbow-active_1uep5_58 {
  background-image: linear-gradient(45deg, aquamarine, aqua, skyblue, pink, coral, magenta);
}

._black-active_1uep5_63 {
  background-color: black;
}

._eraser-active_1uep5_68 {
  background-image: linear-gradient(90deg, darkturquoise 50%, salmon 50%, salmon);
}

._coloured_1uep5_73 {
  color: #e4002b;
  background: transparent;
  border: 0;
  padding: 0;
  outline: 0;
  font-weight: inherit;
  font-size: inherit;
}

._download_1uep5_83 {
  background: #e4002b;
  color: white;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 3px;
}._container_k9bkr_1 {
  position: relative;
  width: 90vw;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}
._wrapper_pq0zg_1 {
  width: 100%;
  background: transparent;
  border: 0;
  padding: 0;
  outline: 0;
  text-align: left;
  display: flex;
  align-items: stretch;
}

  ._wrapper_pq0zg_1:last-child ._info_pq0zg_11 {
    padding-bottom: 4rem;
  }

  ._dot_pq0zg_16 {
  flex-shrink: 0;
  position: relative;
  width: 40px;
}

  ._dot_pq0zg_16::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 3px;
    height: 100%;
    background: #f0f2f5;
    transform: translateX(-50%);
  }

  ._dot_pq0zg_16::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background: #e4002b;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  ._info_pq0zg_11 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem 0.5rem 2rem;
}

  ._time_pq0zg_52 {
  color: #697684;
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: 1px;
}

  ._title_pq0zg_59 {
  color: #333f48;
  display: inline-block;
  font-size: 1.25rem;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-block-end: 0.5rem;
}

  ._more_pq0zg_68 {
  color: #697684;
  font-size: 0.875rem;
}._date_1j0xp_1 {
  color: #e4002b;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

._title_1j0xp_8 {
  width: 100%;
  background: transparent;
  padding-top: 1rem;
  padding-left: 0.75rem;
  padding-bottom: 1rem;
  border: 0;
  border-bottom: 3px solid #f0f2f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  outline: none;
}

._opened_1j0xp_23 {
  width: 1.75rem;
  transition: 0.6s;
  transform: rotate(-90deg);
}

._closed_1j0xp_29 {
  transform: rotate(90deg);
}._heading_5r9l6_1 {
  color: #333f48;
  font-size: 2.25rem;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  margin: 0;
}._content_axnhd_1 {
  background: white;
}

._spacer_axnhd_5 {
  height: 2rem;
}._header_10moi_1 {
  height: 560px;
}

._bg_10moi_5 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-size: cover;
  background-position: 50% 20%;
  background-repeat: no-repeat;
  z-index: -1;
}

._rea_10moi_17 {
  height: 2.5rem;
}

._text_10moi_21 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  background: transparent;
  border: 0;
  outline: 0;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

._title_10moi_36 {
  font-size: 3rem;
}

@media (min-width: 40rem) {

._title_10moi_36 {
    font-size: 5rem
}
  }

._subtitle_10moi_44 {
  font-size: 1rem;
}

@media (min-width: 40rem) {

._subtitle_10moi_44 {
    font-size: 2rem
}
  }

._flip_10moi_52 {
  transform: rotateY(180deg);
}._help_smwwm_1 {
  color: #333f48;
  background: #f7f8f9;
  padding-bottom: 2rem;
}

._title_smwwm_7 {
  margin-top: 0;
}

._helpers_smwwm_11 {
  display: flex;
  justify-content: space-evenly;
}

._helper_smwwm_11 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

._avatar_smwwm_22 {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  filter: grayscale(1);
  transition: 1s;
}

._avatar_smwwm_22:hover {
    filter: grayscale(0) saturate(2);
    transform: rotate(360deg) scale(2);
  }

._name_smwwm_36 {
  font-size: 1.25rem;
  display: inline-block;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

._slack_smwwm_43 {
  color: #e4002b;
  font-weight: bold;
}._logoWrapper_2shph_1 {
  color: white;
  background: linear-gradient(to top right, blueviolet, aquamarine);
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

._button_2shph_12 {
  background: transparent;
  border: 0;
  outline: 0;
  padding: 0;
}

._button_2shph_12:focus {
    animation: _vroom_2shph_1 3s infinite ease-in-out;
  }

._logo_2shph_1 {
  height: 8rem;
}

@media (min-width: 40rem) {

._logo_2shph_1 {
    height: 16rem
}
  }

._text_2shph_31 {
  display: inline-block;
  margin-top: 2rem;
}

@keyframes _vroom_2shph_1 {
  0%,
  100% {
    transform: translate(0, 0) scale(1) translateZ(0);
  }

  50% {
    transform: translate(100vw, -200%) scale(0) translateZ(0);
  }

  51% {
    transform: translate(-100vw, 100%) scale(0) translateZ(0);
  }
}