.wrapper {
  color: #333f48;
  margin-top: 8rem;
  padding-bottom: 8rem;
  font-weight: bold;
}

.canvas {
  width: 100%;
  height: 100vh;
  border: 4px solid #333f48;
  border-radius: 0.75rem;
  cursor: pointer;
}

.coloured {
  color: #e4002b;
}