.header {
  height: 60vh;
  min-height: 560px;
  max-height: 760px;
  background-size: cover;
  background-position: 50% 20%;
}

.rea {
  height: 37px;
}

.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.title {
  font-size: 3rem;

  @media (min-width: 40rem) {
    font-size: 5rem;
  }
}

.subtitle {
  font-size: 1rem;

  @media (min-width: 40rem) {
    font-size: 2rem;
  }
}